<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/1ba037753b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>The Recipes Social Media App</title>
  </head>
  <body>
    <div class="container d-flex flex-column justify-content-around min-vh-100">
      <header class="container">
        <div class="text-center">
          <h1>
            <a href="/profile"><em>My Recipes</em> Social Network</a>
          </h1>
          <p class="devs-100">
            <strong>The #100Devs Social Network Project</strong>
          </p>
        </div>
      </header>

      <main class="container">
        <div class="row justify-content-around mt-5">
          <a href="/login" class="col-3 btn btn-primary">Login</a>
          <a href="/signup" class="col-3 btn btn-primary">Signup</a>
        </div>
      </main>

      <footer class="text-center py-3">
        &copy; <%= new Date().getFullYear() %> Created by
        <a href="#">Epameinondas Alexopoulos</a>. All rights reserved.
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
